<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
		<title>Somebody is getting married!</title>
		<meta name="author" content="Brian Brietzke">

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
	 <body>
    <div class="wrapper">
      <header>
        <h1>Tonya and Brian's Wedding Information</h1>
        <ul>
          <li><a href="/"><strong>General Info</strong></a></li>
          <li><a href="/donations.html"><strong>Donations</strong></a></li>
          <!--<li><a href="http://mneme.tonyaandbrian.us/"><strong>Upload Photos</strong></a></li> -->
        </ul>
      </header>
      <section>
        <h3>{{ page.title }}</h3>
{{ content }}
		</div>
	 </body>
</html>
